<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-text-field
          v-model = 'input'
        ></v-text-field>
        <v-text-field
          v-model = 'sss'
          :disabled = 'true'
        ></v-text-field>
        <v-text-field
          v-model = 'pagIbig'
          :disabled = 'true'
        ></v-text-field>
         <v-btn depressed small color="primary">Primary</v-btn>
    {{ states }}
    <ul v-for="(index, item) in states" :key="index" style="border:solid;">
      <li>{{ index.abbr }}</li>
    </ul>
    <!-- autocomplete -->
    <v-container fluid>
      <v-layout row wrap>
        <v-flex xs12 sm6>
          <v-subheader v-text="'Autocomplete'"></v-subheader>
        </v-flex>
        <v-flex xs12 sm6>
          <v-select
            :items="states"
            :filter="customFilter"
            v-model="a1"
            item-text="name"
            label="Select"
            autocomplete
          ></v-select>
        </v-flex>
      </v-layout>
    </v-container>
         <!-- form ko bai -->
         <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3>
        <v-card>
          <v-toolbar color="indigo" dark>
            <v-btn icon>
              <v-icon>arrow_back</v-icon>
            </v-btn>
            <v-toolbar-title>Application</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon>more_vert</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <h1 class="title">Search for new keywords using a phrase, website or category</h1>
            <h2 class="subheading mb-5">Enter one or more of the following</h2>
            <v-text-field
              label="Your product or service"
              value="Grocery delivery"
              hint="For example, flowers or used cars"
              persistent-hint
            ></v-text-field>
            <v-text-field
              label="Your landing page"
              hint="www.example.com/page"
              persistent-hint
            ></v-text-field>
            <v-select
              label="Your product category"
              hint="Enter or select a product category"
              persistent-hint
              :items="options"
              v-model="select"
            ></v-select>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.avatar-holder {
  margin-top: 20px;
}
</style>
<script>
  export default {
    data: () => ({
      input: 0,
      a1: null,
      states: [
        { name: 'Florida', abbr: 'FL', id: 1 },
        { name: 'Georgia', abbr: 'GA', id: 2 },
        { name: 'Nebraska', abbr: 'NE', id: 3 },
        { name: 'California', abbr: 'CA', id: 4 },
        { name: 'New York', abbr: 'NY', id: 5 }
      ],
      customFilter (item, queryText, itemText) {
          const hasValue = val => val != null ? val : ''
          const text = hasValue(item.name)
          const query = hasValue(queryText)
          return text.toString()
            .toLowerCase()
            .indexOf(query.toString().toLowerCase()) > -1
      }
    }),
    computed: {
      sss () {
        let calculation = 2 * 0.3
        return (this.input - calculation)
      },
      pagIbig () {
        let calculation = (165 / 2) * 0.3
        return (this.input - calculation)
      }
    }
  }
</script>